body {
    font-family: "Pretendard Variable", sans-serif;
    color: #333;
    background-color: #EEE;
    line-height: 1.4;
    padding: 20px 0 40px;  
    width: 400px;
    margin-left: auto;
    margin-right: auto; 
}
h1 {
    text-align: center;
}
.form {
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    background-color: #FFF;
    margin-bottom: 20px;
    border-radius: 10px;    
}
.form p {
    margin-top: 0;
    margin-bottom: 10px;
}
.form input {
    width: 100%;
    padding: 4px;
    box-sizing:border-box;
    display: block;
    margin-bottom: 10px;
}
.card {
    padding: 30px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    background-color: #FFF;   
    display: flex;
    height: 240px;    
    align-items: center;
    gap: 20px;
    display: none;
    border-radius: 10px;
}
.card.show {
    display: flex;
}
.card .name {
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 10px;
}
